/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    overflow-x: hidden; 
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


 /** {
    outline: solid 1px red;
}*/

 header{
    top: 0;
    left: 0;
    position: fixed;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: 	#F5F5F5;
    z-index: 1000;
}
header .logo{
    display: flex;
    flex-wrap: wrap;
    margin-left: 180px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 120px;
    
}
ul li a{
    padding: 0 20px;
    text-decoration: none;
    color:#92979B;
}
.current{
    color: 	#303030;
}
ul li a:hover{
    color: #FF8C00;
}
li a:hover::after{
    width: 100%;
}
.content-up{
    position: relative;
}
main .content-up img{
    width: 100%;
}
main .content-up h1 {
     position:absolute; 
     display: flex; 
     flex-wrap: wrap; 
     align-items: center; 
     justify-content: center; 
    text-align: center; 
    /* top:0px; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    top: 35%;
    font-size: 80px;
    font-weight: lighter;
    letter-spacing: 1px;
    color:#ffff ; 
    position:absolute;
    text-align: center;

    
    /*
    color:#ffff ;
    padding: 1em; 
    font-size: 80px;
    font-weight: lighter;
    letter-spacing: 1px;*/
}
main .content-up p{
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    top:50%;
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* top: 280px;  */
    /* left:200px; */
     color:#ffff ; 
    padding: 1em; 
    font-size: 35px;
    font-weight: lighter;
}
.Learn-More-button{
    position: absolute;
    top:70%;
    right:45%;
    padding: 15px 30px;
    background: #cc5500;
    color: #ffff;
    outline: none;
    border: none;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 5px;
    
   
}
main .content-up .inside{
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;
    color:#ffff ; 
   
}
main .content-down h1{
    top: 30px;
    color: black;
    font-weight: lighter;
    font-size: 40px;
    /*left: 500px;*/
    position: relative;
    text-align: center;
}
main .content-down .icons{
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
main .content-down .icons-subtitles{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
}
footer .footer-content h4{
    font-size: large;
    font-weight: normal;
    padding-left: 50%;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: white;

}
footer .footer-content ul li a img { 
    display: inline-block;
    text-align: center;
    border: 1px solid #D3D3D3;
    border-radius: 40%;
    padding: 7px ;
    opacity: 0.8;
    
}
footer .footer-content ul{
    padding-left: 45%;
}
footer .footer-bottom{
    color: #92979B;
    padding-left: 48%;
}
hr{
    margin: 10px 100px 10px 100px;
}
.new-section{
    background-color: #FEECE5;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}
.new-section .right-section{
    float: right;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
}
.new-section img{
    width: 35%;
}
.new-section .right-section p{
    position: absolute;
    top: 50px;
    /*left:200px;*/
    color:#535353  ;  
    padding: 20px 100px;
    font-size: 35px;
    font-weight: bold;
    text-align-last: center;
}
.new-section .right-section button{
    padding: 15px 30px;
    background: #cc5500;
    color: #ffff;
    outline: none;
    border: none;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 5px;
    position: relative;
    top: 100px;
    left: 200px;
    right: 200px;
    bottom: 100px;
}
.new-section .right-section span{
    color: #cc5500;

}
